* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.header-bg {
    background: #F0FFF0;
}

#img-style {
    width: 220px;
}

#topic-img {
    height: 140px;
    width: 153px;
}
#first-img {
    height: 165px;
}
#header-para {
    font-family: 'Roboto Condensed',
    sans-serif;
}
.card:hover {
    background: #F0FFF0;
    box-shadow: 5px 12px gray;
    }

hr {
        border: 1px solid gray;
        width: 35%;
        margin: 0 auto;
        margin-bottom: 5px;
}
#teacher-img {
    /* margin: 10px; */
    height: 300px;
    width: 300px;
    /* overflow: hidden; */
    border-radius: 50%;
    margin-left: 50px;
}
.list-style ul {
    list-style-type: none;
}

ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-style: italic;
}

#footer-id {
    width: 100%;
    background-color: #282531;
}
#flower-style {
    font-size: 2em;
    color: red;
}