.header-bg {
    background: #F0FFF0;
}

#img-style {
    width: 220px;
}

#topic-img {
    height: 140px;
    width: 153px;
}
#first-img {
    height: 165px;
}
#header-para {
    font-family: 'Roboto Condensed',
    sans-serif;
}
.card:hover {
    background: #F0FFF0;
    box-shadow: 5px 12px gray;
    }

    #hr-style {
        border: 1px solid gray;
        width: 20%;
        margin: 0 auto;
        margin-bottom: 5px;
}